UPLOADS_BUCKET_NAME=upload-bucket
RESULTS_BUCKET_NAME=results-bucket

# Вместо <IP> писать IP сервера, где происходит развертка
GLOBAL_MINIO_ENDPOINT=<IP>:9000
# секрет
GLOBAL_MINIO_ROOT_USER=
# секрет
GLOBAL_MINIO_ROOT_PASSWORD=

MINIO_SERVER_URL=http://localhost:9000

MINIO_ENDPOINT=minio:9000
# секрет (совпадает с GLOBAL_MINIO_ROOT_USER)
MINIO_ROOT_USER=
# секрет (совпадает с GLOBAL_MINIO_ROOT_PASSWORD)
MINIO_ROOT_PASSWORD=


#секрет
POSTGRES_USER=
#секрет
POSTGRES_PASSWORD=
#секрет
POSTGRES_DB=

#секрет (подставить вышестоящие данные вместо <Название переменной>)
SQLALCHEMY_DATABASE_URI=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@db:5432/<POSTGRES_DB>


#секрет
REDIS_PASSWORD=

#секрет (подставить вышестоящие данные вместо <Название переменной>)
CELERY_BROKER_URL=redis://:<REDIS_PASSWORD>@redis:6379/0
#секрет (подставить вышестоящие данные вместо <Название переменной>)
CELERY_BACKEND_URL=redis://:<REDIS_PASSWORD>@redis:6379/1

#секрет (подставить вышестоящие данные вместо <Название переменной>)
JWT_REDIS_BLACKLIST_URL=redis://:<REDIS_PASSWORD>@redis:6379/2

#секрет
JWT_SECRET_KEY=


TEMP_FOLDER = /tmp


# не заполнять, если фронтенд и бекенд работают на одном сервере
VITE_API_BASE_URL=

VITE_USE_MOCKS=false


TESSDATA_PREFIX=/workspace/tessdata


MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
# секрет
MAIL_PASSWORD=
MAIL_USE_TLS=True
